bank = 0x7E

exclude_range 0000 8000

# Cutscenes

func cutscene 8000
func func_7e803a 803a

func cutscene_titleCredits 804b
func func_7e8434 8434
func func_7e846f 846f
func func_7e8498 8498
func func_7e84bb 84bb
func cutscene_fallingMeteor 8516
func func_7e8660 8660
func func_7e867d 867d
func cutscene03 8784
func cutscene_redFlash 8888
func cutscene_redFlashLong 8963
func func_7e8a4e 8a4e
func cutscene_lightningBolt 8aa2
func cutscene_purpleSparkles 8b80
func func_7e8c09 8c09
func cutscene_endingCredits 8c78
func func_7e945d 945d
func func_7e9465 9465
func func_7e94a5 94a5
func func_7e95a1 95a1
func func_7e95ab 95ab
func func_7e95d9 95d9
func func_7e95ec 95ec
func func_7e95ff 95ff
func func_7e963a 963a
func func_7e9679 9679
func func_7e96b8 96b8
func func_7e96f9 96f9
func func_7e970e 970e
func func_7e9753 9753
func func_7e9780 9780
func func_7e97ad 97ad
func func_7e97f8 97f8
func func_7e983b 983b
func func_7e988a 988a
func func_7e98d0 98d0
func func_7e9943 9943
func func_7e99b6 99b6
func func_7e99ea 99ea
func func_7e9a1e 9a1e
func func_7e9a29 9a29
func func_7e9a39 9a39
func func_7e9a49 9a49
func func_7e9a57 9a57
func func_7e9a65 9a65
func func_7e9a73 9a73
func func_7e9a81 9a81
func func_7e9a8f 9a8f
func func_7e9a98 9a98
func func_7e9aa1 9aa1
func func_7e9aa8 9aa8
func func_7e9ab1 9ab1
func func_7e9abd 9abd
func func_7e9ac9 9ac9
func func_7e9ad9 9ad9
func func_7e9ae4 9ae4
func func_7e9af2 9af2
func func_7e9deb 9deb
func func_7e9f2c 9f2c
func func_7ea244 a244
func func_7ea3a0 a3a0
func func_7ea3b6 a3b6
func func_7ea50e a50e
func func_7ea527 a527
func func_7ea537 a537
func func_7ea538 a538
func func_7ea549 a549
func func_7ea554 a554
func func_7ea562 a562
func func_7ea570 a570
func func_7ea797 a797
func func_7ea811 a811
func func_7ea8c6 a8c6
func func_7ea963 a963
func func_7eaafc aafc
func func_7eab3b ab3b
func func_7eab7a ab7a
func func_7eac2a ac2a
func func_7eac54 ac54
func func_7eac78 ac78
func func_7eacab acab
func func_7eaccc accc
func func_7ead0d ad0d
func func_7ead23 ad23
func func_7eae01 ae01
func func_7eae2d ae2d
func func_7eae37 ae37
func func_7eae70 ae70
func func_7eaebc aebc
func func_7eaf08 af08
func func_7eaf81 af81
func func_7eafa1 afa1
func func_7eafae afae
func func_7eafc1 afc1
func func_7eafed afed
func func_7eaff3 aff3
func func_7eaff9 aff9
func func_7eafff afff
func func_7eb035 b035
func func_7eb046 b046
func func_7eb067 b067
func func_7eb08a b08a
func func_7eb0ad b0ad
func func_7eb124 b124
func func_7eb19f b19f
func func_7eb1fd b1fd
func func_7eb21d b21d
func func_7eb273 b273
func func_7eb29e b29e
func func_7eb30a b30a
func func_7eb335 b335
func func_7eb360 b360
func func_7eb375 b375
func func_7eb38a b38a
func func_7eb3a6 b3a6
func func_7eb3c2 b3c2
func func_7eb3de b3de
func func_7eb3fa b3fa
func func_7eb41b b41b
func func_7eb43c b43c
func func_7eb45d b45d
func func_7eb47e b47e
func func_7eb49f b49f
func func_7eb4e1 b4e1
func func_7eb523 b523
func func_7eb550 b550
func func_7eb566 b566
func func_7eb593 b593
func func_7eb5a9 b5a9
func func_7eb5eb b5eb
func func_7eb629 b629
func func_7eb667 b667
func func_7eb693 b693
func func_7eb6ac b6ac
func func_7eb6c5 b6c5
func func_7eb6de b6de
func func_7eb6f7 b6f7
func func_7eb710 b710
func func_7eb729 b729
func func_7eb742 b742
func func_7eb75b b75b
func func_7eb774 b774
func func_7eb78d b78d
func func_7eb7a6 b7a6
func func_7eb7bf b7bf
func func_7eb7e2 b7e2
func func_7eb805 b805
func func_7eb828 b828
func func_7eb846 b846
func func_7eb88e b88e
func func_7eb8a7 b8a7
func func_7eb8c0 b8c0
func func_7eb8d9 b8d9
func func_7eb8f2 b8f2
func func_7eb9cc b9cc
func func_7eb9e5 b9e5
func func_7eb9fe b9fe
func func_7eba17 ba17
func func_7eba44 ba44
func func_7eba5d ba5d
func func_7eba86 ba86
func func_7ebaa9 baa9
func func_7ebb00 bb00
func func_7ebb79 bb79
func func_7ebbb0 bbb0
func func_7ebbca bbca
func func_7ebbe4 bbe4
func func_7ebbfe bbfe
func func_7ebc3e bc3e
func func_7ebc71 bc71
func func_7ebc9a bc9a
func func_7ebcd7 bcd7
func func_7ebd2a bd2a
func func_7ebd6c bd6c
func func_7ebd88 bd88
func func_7ebdb3 bdb3
func func_7ebe34 be34
func func_7ebe55 be55
func func_7ebe7e be7e
func func_7ebe85 be85
func func_7ebed2 bed2
func func_7ebf1b bf1b
func func_7ebf28 bf28
func func_7ebf3b bf3b
func func_7ebf70 bf07
func func_7ebfaf bfaf
func func_7ebfc8 bfc8
func func_7ebff4 bff4
func decompress c00d
func rleHighNybbleClear c05d
func rleHighNybbleSet c0a1

func compressionMode_lzss c0f0
func func_7ec1a3 c1a3
func compressionMode_none c1cc
func func_7ec1e0 c1e0
func func_7ec1f4 c1f4
func func_7ec209 c209
func func_7ec500 c500
func tfrSpritesWithinWram c64f
func func_7ec678 c678