bank = 0xD0

exclude_range 0000 dc2a

# Menu Extra

func func_10dc2a dc2a
func initBattleHdma dca5

exclude_range dd79 de1a

func tfrChannel5 de1a
func tfrChannel4 de40
func tfrPal de66
func func_10de8c de8c
func clearVram ded1

# Battle Extra

func validateInventory ef78

exclude_range ef91 ffff